<%- include('partials/header'); %>

<link rel="stylesheet" href="/css/add_word.css" type="text/css">

<div class="main">

    <div class="title">
        追加
    </div>

    <div class="form">
        <form action="/add_word/<%=list%>", method="post">
            <div class="question">
                <p>問題</p>
                <p>
                    <input type="text", name='questionName'>
                </p>
            </div>

            <div class="answere">
                <p>答え</p>
                <p>
                    <input type="text", name='answereName'>
                </p>
                <p>
                    <input type="submit", value="追加">
                </p>
            </div>
        
        </form>
    </div>

    <div class=link>
        <a href="/front/<%=list%>">
            表紙へ
        </a>
    </div>

</div>

