<%- include('partials/header'); %>

<h1>add</h1>

<form action="/add_word/<%=list%>", method="post">
    <p>
        <input type="text", name='questionName'>
    </p>
    <p>
        <input type="text", name='answereName'>
    </p>
    <p>
        <input type="submit", value="追加">
    </p>

</form>

<a href="/front/<%=list%>">
    表紙へ
    </a>

<%- include('partials/footer'); %>