<%- include('partials/header'); %>
    
<form action="/add_note", method="post">
    <input type="text", name="noteName">
    <input type="submit" value="追加">
</form> 

<%- include('partials/footer'); %>