<%- include('partials/header'); %>

<link rel="stylesheet" href="/css/note_name.css" type="text/css">

<div class="main">
    <div class="form">
        <form action="/change_function/<%=name%>", method="post">
            <input type="text", name='newName' value=<%=name%>>
            <input type="submit", value="変更">
        
        </form>
    </div>
</div>

<%- include('partials/footer'); %>