<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>index</h1>
  <% list.forEach((word) => { %>
    <ul>
        <li>
            <span><%= word.question%></span>
            <span><%= word.answere%></span>
            <form action="/delete/<%=word.id%>", method="post">
                <input type="submit", value="削除">
            </form>

            <a href="/edit/<%=word.id%>">編集</a>

    
        </li>
    </ul>

 <% }); %>

    <a href="/">
        表紙へ
    </a>
    
</body>
</html>



