<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    　<h1>Oboeru</h1>
    <p><a href="/front"><%=note[0]['Tables_in_oboeru']%></a></p>
    <p><a href="/front"><%=note[1]['Tables_in_oboeru']%></a></p>
    <a href="/addNote">ノートを追加</a>



</body>
</html>