body {
    margin: 0;
}

.header {
    color: white;
}

.title {
    font-size: 20px;
    text-align: center;
}

.main {
    background-color: #ebbb7caf;
    height: 900px;
}

h1 {
    background-color: #833705;
    padding: 30px;
    text-align: left;
    margin: 0;
}

.note {
    float: left;
    padding: 30px;
}

.add_note {
    clear: left;
}

/* .footer {
    background: #833705;
    color: white;
    height: 100px;
    text-align: right;
} */
